
<header class="header">
  <div class="header__meta">
    <div class="header__meta__content">
      <div class="header__meta__item header__meta__menu">
        <ul class="menu menu--meta">
          <li class="menu__item is-active"><a class="menu__link">Individuals</a></li>
          <li class="menu__item"><a class="menu__link">Small Business Insurance</a></li>
          <li class="menu__item"><a class="menu__link">About Us</a></li>
        </ul>
      </div>
      <div class="header__meta__item header__meta__search search search--header">
        <input type="text" class="search__input search--header"/>
        <svg class="search__icon search--header icon-svg">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/icons.svg#search"></use>
        </svg>
        <div class="search__suggestions search--header"></div>
      </div>
      <div class="header__meta__item header__meta__language"><a data-popover="#languageMenu" class="header__meta__language-button">En
          <svg class="header__meta__language-button-icon icon-svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/icons.svg#arrow-bottom"></use>
          </svg></a>
        <div id="languageMenu" class="popover">
          <div class="popover__tail popover__tail--top"></div>
          <div class="popover__box">
            <div class="popover__box__header"><a class="popover__close">
                <svg class="modal__close-icon icon-svg">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/icons.svg#modal-close"></use>
                </svg></a>
              <div class="popover__box__header__headline">Language</div>
            </div>
            <div class="popover__box__content__wrapper">
              <div class="popover__box__content">
                <ul class="menu menu--language">
                  <li class="menu__item"><a class="menu__link">Deutsch</a></li>
                  <li class="menu__item"><a class="menu__link">Français</a></li>
                  <li class="menu__item"><a class="menu__link">Italiano</a></li>
                  <li class="menu__item"><a class="menu__link">English</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><a class="header__meta__item header__meta__action">myAXA Login</a>
    </div>
  </div>
  <div class="header__main">
    <div class="header__main__content">
      <div class="header__brand brand">
        <div class="brand__logo"></div>
        <div class="brand__tagline brand__tagline--de"></div>
      </div>
      <div class="header__menu">
        <ul class="menu menu--main">
          <li class="menu__item"><a class="menu__link">
              <svg class="menu__link__home">
                <use xlink:href="../../images/icons.svg#home"></use>
              </svg></a></li>
          <li class="menu__item"><a class="menu__link">Menu Item 1</a></li>
          <li class="menu__item is-active"><a class="menu__link">Menu Item 2</a></li>
          <li class="menu__item"><a class="menu__link">Menu Item 3</a></li>
          <li class="menu__item"><a class="menu__link">Menu Item 4</a></li>
        </ul>
      </div><a href="#" class="header__main__mobile-trigger">
        <svg class="header__main__mobile-icon">
          <use xlink:href="../../images/icons.svg#burger"></use>
        </svg></a>
    </div>
  </div>
</header>