@import 'style/variables';
@import 'style/blocks/icon';

.tagline {
  font-size: @font-size-small;
}

.tagline__switch {
  .icon;
  .icon--switch;

  display: inline-block;
  width: 1em;
  height: 1em;

  margin-left: 0.1em;
  margin-right: -0.1em;

  line-height: 1em;
  white-space: nowrap;
  color: transparent;

  &::before {
    color: @color-ui-beta;
  }
}

.tagline__subject {
  color: @color-ui-epsilon;
  font-style: normal;
}

.tagline__predicate {
  color: @color-ui-epsilon;
  font-weight: bold;
  font-style: normal;
}
