---
title: Button Dropdown
template: demo.jade
---

.button-dropdown(data-button-dropdown)
  .button-dropdown__button.button De
  .button-dropdown__pane
    ul.action-list
      li.action-list__item
        a.action-list__action.button-dropdown__action Deutsch
      li.action-list__item
        a.action-list__action.button-dropdown__action Francais
      li.action-list__item
        a.action-list__action.button-dropdown__action Italiano
      li.action-list__item
        a.action-list__action.button-dropdown__action English
        
div(id="#spacer", style="height:250px;")
        
//- Copyright AXA Versicherungen AG 2015
