---
title: Verträge
description: Contract overview.
thumbnail: contracts.png
collection: examples
filename: contracts.html
template: examples/myaxa.jade
---
  
.l-container
  h1.heading.heading--page Verträge

.section.section--highlight
  .l-container
    .contract-tile
      .contract-tile__heading
        .contract-tile__heading__icon.icon.icon--home
        .contract-tile__heading__heading Haushaltsversicherung
      .contract-tile__lower
        .contract-tile__content
          .contract-tile__content__item
            .contract-tile__content__item__label Policennummer
            .contract-tile__content__item__value.contract-tile__content__item__value--primary 123.567.456
          .contract-tile__content__item
            .contract-tile__content__item__label Status
            .contract-tile__content__item__value in Kraft
        .contract-tile__actions
          .contract-tile__actions__action.contract-tile__actions__action--primary Schaden melden
          .contract-tile__actions__action.contract-tile__actions__action--secondary Vertragsdetails      
    .contract-tile
      .contract-tile__heading
        .contract-tile__heading__icon.icon.icon--home
        .contract-tile__heading__heading Haushaltsversicherung
      .contract-tile__lower
        .contract-tile__content
          .contract-tile__content__item
            .contract-tile__content__item__label Policennummer
            .contract-tile__content__item__value.contract-tile__content__item__value--primary 123.567.456
          .contract-tile__content__item
            .contract-tile__content__item__label Status
            .contract-tile__content__item__value in Kraft
        .contract-tile__actions
          .contract-tile__actions__action.contract-tile__actions__action--primary Schaden melden
          .contract-tile__actions__action.contract-tile__actions__action--secondary Vertragsdetails
