<!DOCTYPE html><html><!--[if lt IE 10]><html class="lt-ie10"><![endif]--><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width"><meta name="description" content="AXA Switzerland Web Style Guide"><meta name="keywords" content="axa,switzerland,versicherungen,web,style,guide"><meta name="author" content="AXA Versicherungen AG"><title>Modal | Demo | Web Style Guide</title><link rel="stylesheet" href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css"><link rel="stylesheet" href="../../css/normalize.min.css"><link rel="stylesheet" href="../../css/style.min.css"><script src="../../js/docs-examples.all.min.js"></script><script>moment.locale('en_GB')
</script></head><body><div class="example">
<div data-modal="#myModal" class="button">Show modal</div>
<div id="myModal" class="modal">
  <div class="backdrop">
    <div class="backdrop__shadow"></div>
    <div class="backdrop__content">
      <div class="modal__dialog">
        <div class="modal__header"><a data-modal="#myModal" class="modal__close">
            <svg class="modal__close-icon icon-svg">
              <use xlink:href="../../images/icons.svg#modal-close"></use>
            </svg></a>
          <div class="modal__heading">
            <div class="heading heading--modal">Bacon Ipsum</div>
          </div>
        </div>
        <div class="modal__content-wrapper">
          <div class="modal__content"><p class="paragraph">Bacon ipsum dolor amet ham hock
tongue ham eu short ribs, voluptate
hamburger ut sed excepteur brisket
turducken labore pork. Cupim ham
hock pork, ground round ullamco pork
belly consectetur beef ribeye
nostrud. Tongue andouille brisket
boudin porchetta cow capicola t-bone
culpa kevin meatball. Bacon tail
shankle tenderloin eu occaecat.</p><h2 id="prosciutto-ex-bacon" class="heading heading--secondary">
Prosciutto ex Bacon
</h2>
<p class="paragraph">Ipsum pancetta consectetur excepteur
dolore frankfurter pastrami sausage.
Et jerky eiusmod, adipisicing flank
ipsum exercitation laborum t-bone
filet mignon corned beef bacon
bresaola elit labore. Ground round
frankfurter alcatra flank et
excepteur nulla ex shoulder sint.
Frankfurter tenderloin jowl, occaecat
ribeye sausage prosciutto ex bacon
landjaeger pork tail. Pork belly
proident meatball culpa.</p>
          </div>
        </div>
        <div class="modal__footer">
          <div class="modal__footer__wrapper">
            <div class="modal__buttons"><a class="modal__buttons__button button button--small button--secondary">Drucken</a><a data-modal="#myModal" class="modal__buttons__button button button--small button--secondary">Schliessen</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div></body></html>