@import './variables';

body {
  color: @font-color;
  font-family: Arial, sans-serif;
  font-size: @font-size-fallback;
  line-height: @line-height-fallback;
}

.has-webfont {
  font-family: "ITC Franklin Gothic W01", Arial, sans-serif;
  font-size: @font-size;
  line-height: @line-height;
}

/* Copyright AXA Versicherungen AG 2015 */
