
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <label class="form__group__label">
        <div class="form__group__label__text">Form label</div>
      </label>
      <div class="form__group__control">
        <div id="myDatepicker" data-datepicker-watch="#myDatepickerInput" data-datepicker-display-week="data-datepicker-display-week" data-datepicker-icon-prev="../../../images/icons.svg#arrow-left" data-datepicker-icon-next="../../../images/icons.svg#arrow-right" class="datepicker">
          <div data-datepicker="#myDatepicker" class="datepicker__trigger">
            <svg class="datepicker__trigger__icon">
              <use xlink:href="../../../images/icons.svg#calendar"></use>
            </svg>
          </div>
          <div class="datepicker__input">
            <input type="text" id="myDatepickerInput" class="control control--input"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>