
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <div class="form__group__label">Dateien</div>
      <div class="form__group__control">
        <div class="multi-upload">
          <div class="file-list">
            <div class="file-list__file">
              <div class="progressbar">
                <div class="progressbar__description">awesome_image.jpg</div>
                <div class="progressbar__percentage">22%</div>
                <div class="progressbar__progress">
                  <div class="progressbar__progress-background">
                    <div style="width: 22%" class="progressbar__progress-foreground"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="file-list__file">
              <div class="file-uploaded">
                <div class="file-uploaded__actions"><a class="file-uploaded__actions__action">ansehen</a><a class="file-uploaded__actions__action">löschen</a></div>
                <div class="file-uploaded__title">axaswitch.png</div>
              </div>
            </div>
            <div class="file-list__file">
              <div class="file-uploaded">
                <div class="file-uploaded__actions"><a class="file-uploaded__actions__action">ansehen</a><a class="file-uploaded__actions__action">löschen</a></div>
                <div class="file-uploaded__title">doge.jpg</div>
              </div>
            </div>
            <div class="file-list__file">
              <div class="file-error">
                <div class="file-error__progressbar progressbar">
                  <div class="progressbar__description">superblock.jpg</div>
                  <div class="progressbar__error"><a class="progressbar__error-icon">
                      <svg class="icon-svg">
                        <use xlink:href="../../../images/icons.svg#modal-close"></use>
                      </svg></a></div>
                  <div class="progressbar__progress">
                    <div class="progressbar__progress-error"></div>
                  </div>
                </div>
                <div class="file-error__message">
                  Die Datei konnte nicht hochgeladen werden.
                  Bitte löschen Sie sie aus der Liste und laden sie erneut hoch.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>