
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <div class="form__group__label">Fallback for dropzone on IE 9</div>
      <div class="form__group__control">
        <div class="multi-upload">
          <div class="dropzone-fallback">
            <input type="file" class="dropzone-fallback__input"/><a class="dropzone-fallback__button button button--primary">
              <svg class="icon-svg dropzone-fallback__button__icon">
                <use xlink:href="../../../images/icons.svg#upload"></use>
              </svg><span class="dropzone-fallback__button__text">Click to upload files</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>