
<div class="form">
  <div class="form__group">
    <div class="form__group__label">
      <div class="form__group__label__text">Firstname*</div>
    </div>
    <div class="form__group__control">
      <input type="text" class="control control--input"/>
    </div>
  </div>
  <div class="form__group">
    <div class="form__group__label form__group__label--invalid">
      <div class="form__group__label__text">Lastname*</div>
    </div>
    <div class="form__group__control">
      <input type="text" class="control control--input has-error"/>
      <div class="form__error-message">Your name can't contain a number.</div>
    </div>
  </div>
  <div class="form__group">
    <div class="form__group__label">
      <div class="form__group__label__info-icon">
        <div data-info="data-info" data-target="#target" class="info-icon">
          <svg class="info-icon__svg">
            <use xlink:href="../../../images/icons.svg#info"></use>
          </svg>
          <svg class="info-icon__svg info-icon__svg--close">
            <use xlink:href="../../../images/icons.svg#close"></use>
          </svg>
        </div>
      </div>
      <div class="form__group__label__info-icon-text-wrapper">Form group with info</div>
    </div>
    <div class="form__group__control">
      <input type="text" class="control control--input"/>
      <div style="display: none;" id="target" class="form__info-text">
        <div class="info-text">
          <p class="paragraph">Some meaningful explanation may be placed here</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form__group">
    <div class="from__group__control form__group__control--fullwidth">
      <label data-checkbox="data-checkbox" class="checkbox">
        <input type="checkbox" class="checkbox__checkbox"/>
        <div class="checkbox__label">
          <svg class="checkbox__label__icon">
            <use xlink:href="../../../images/icons.svg#checkmark"></use>
          </svg>
          <div class="checkbox__label__text">Full width control</div>
        </div>
      </label>
    </div>
  </div>
  <div class="form__footnote">* Form footnote</div>
</div>