
<div class="progress-tracker">
  <ul class="progress-tracker__flow">
    <li class="progress-tracker__step step step--start is-active"><span class="step__bullet">1</span></li>
    <li class="progress-tracker__step step is-active is-current"><span class="step__bullet">2</span></li>
    <li class="progress-tracker__step step step--end"><span class="step__bullet">
        <svg class="step__bullet__checkmark">
          <use xlink:href="../../../images/icons.svg#process-checkmark"></use>
        </svg></span></li>
  </ul>
</div>