
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <label class="form__group__label">
        <div class="form__group__label__text">Form label</div>
      </label>
      <div class="form__group__control">
        <div data-segmented-control="data-segmented-control" class="segmented-control">
          <label class="segmented-control__item">
            <input type="radio" name="bar" class="segmented-control__item__radio"/><span class="segmented-control__item__label">Ja</span>
          </label>
          <label class="segmented-control__item">
            <input type="radio" name="bar" class="segmented-control__item__radio"/><span class="segmented-control__item__label">Nein</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>