
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <label class="form__group__label">
        <div class="form__group__label__text">Form label</div>
      </label>
      <div class="form__group__control">
        <div class="chips">
          <div class="chips__field">
            <div class="chips__chip">
              <div class="chips__chip__text">Foo</div><a href="#" class="chips__chip__close-button">
                <svg class="chips__chip__close-button__icon icon-svg">
                  <use xlink:href="../../../images/icons.svg#cross"></use>
                </svg></a>
            </div>
            <div class="chips__chip">
              <div class="chips__chip__text">Bar</div><a href="#" class="chips__chip__close-button">
                <svg class="chips__chip__close-button__icon icon-svg">
                  <use xlink:href="../../../images/icons.svg#cross"></use>
                </svg></a>
            </div>
            <div class="chips__chip">
              <div class="chips__chip__text">Test</div><a href="#" class="chips__chip__close-button">
                <svg class="chips__chip__close-button__icon icon-svg">
                  <use xlink:href="../../../images/icons.svg#cross"></use>
                </svg></a>
            </div>
            <input class="chips__input"/>
          </div>
          <div class="chips__autocomplete autocomplete__suggestions">
            <div class="autocomplete__suggestions__item">8400 Winterthur</div>
            <div class="autocomplete__suggestions__item">8472 Seuzach</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>