---
title: Brand
slug: brand
collection: visuals
---

:sample
  .brand
    .brand__logo
    .brand__tagline.tagline
      span.tagline__subject Finanzielle Sicherheit
      i.tagline__switch /
      em.tagline__predicate neu definiert
