---
title: Brand
slug: brand
collection: visuals
---

.example
  .brand
    .brand__logo
    .brand__tagline.tagline
      span.tagline__subject Finanzielle Sicherheit
      i.tagline__switch /
      em.tagline__predicate neu definiert

pre.highlight.hljs: code.html
  :highlight
    <div class="brand">
      <div class="brand__logo"></div>
      <div class="brand__tagline tagline">
        <!-- tagline block here -->
      </div>
    </div>
