---
title: Tagline
slug: tagline
collection: visuals
---

.example
  .tagline
    span.tagline__subject Finanzielle Sicherheit
    i.tagline__switch /
    em.tagline__predicate neu definiert

pre.highlight.hljs: code.html
  :highlight
    <div class="tagline">
      <span class="tagline__subject">Finanzielle Sicherheit</span>
      <i class="tagline__switch">/</i>
      <em class="tagline__predicate">neu definiert</em>
    </div>
