<!DOCTYPE html><html><!--[if lt IE 10]><html class="lt-ie10"><![endif]--><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width"><meta name="description" content="AXA Switzerland Web Style Guide"><meta name="keywords" content="axa,switzerland,versicherungen,web,style,guide"><meta name="author" content="AXA Versicherungen AG"><title>Condensed-Datepicker | Demo | Web Style Guide</title><link rel="stylesheet" href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css"><link rel="stylesheet" href="../../../css/normalize.min.css"><link rel="stylesheet" href="../../../css/style.min.css"><script src="../../../js/docs-examples.all.min.js"></script><script>moment.locale('en_GB')
</script></head><body><div class="example">
<div class="l-container">
  <div class="form">
    <div class="form__group">
      <label class="form__group__label">
        <div class="form__group__label__text">Form label</div>
      </label>
      <div class="form__group__control">
        <div id="myCondensedDatepicker" data-datepicker-watch="#myCondensedDatepickerInput" data-datepicker-display-week="data-datepicker-display-week" data-datepicker-icon-prev="../../../images/icons.svg#arrow-left" data-datepicker-icon-next="../../../images/icons.svg#arrow-right" class="datepicker datepicker--condensed">
          <div data-datepicker="#myCondensedDatepicker" class="datepicker__trigger">
            <svg class="datepicker__trigger__icon">
              <use xlink:href="../../../images/icons.svg#calendar"></use>
            </svg>
          </div>
          <div class="datepicker__input">
            <input type="text" id="myCondensedDatepickerInput" class="control control--input control--condensed"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div></body></html>