<!DOCTYPE html><html><!--[if lt IE 10]><html class="lt-ie10"><![endif]--><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width"><meta name="description" content="AXA Switzerland Web Style Guide"><meta name="keywords" content="axa,switzerland,versicherungen,web,style,guide"><meta name="author" content="AXA Versicherungen AG"><title>Datepicker-Pure | Demo | Web Style Guide</title><link rel="stylesheet" href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css"><link rel="stylesheet" href="../../../css/normalize.min.css"><link rel="stylesheet" href="../../../css/style.min.css"><script src="../../../js/docs-examples.all.min.js"></script><script>moment.locale('en_GB')
</script></head><body><div class="example">
<div class="picker picker--with-weeknumber is-active">
  <div class="picker__header"><a class="picker__prev"></a><a class="picker__next"></a>
    <div class="picker__headline"><span class="picker__headline__month">June 2015</span></div>
  </div>
  <div class="picker__content">
    <div class="picker__month">
      <div class="picker__week picker__week--headline">
        <div class="picker__weeknumber picker__weeknumber--headline"></div>
        <div class="picker__day picker__day--headline">Mo</div>
        <div class="picker__day picker__day--headline">Tu</div>
        <div class="picker__day picker__day--headline">We</div>
        <div class="picker__day picker__day--headline">Th</div>
        <div class="picker__day picker__day--headline">Fr</div>
        <div class="picker__day picker__day--headline">Sa</div>
        <div class="picker__day picker__day--headline">Su</div>
      </div>
      <div class="picker__week">
        <div class="picker__weeknumber">23</div>
        <div class="picker__day">1</div>
        <div class="picker__day">2</div>
        <div class="picker__day">3</div>
        <div class="picker__day">4</div>
        <div class="picker__day picker__day--today">5</div>
        <div class="picker__day">6</div>
        <div class="picker__day">7</div>
      </div>
      <div class="picker__week">
        <div class="picker__weeknumber">24</div>
        <div class="picker__day">8</div>
        <div class="picker__day">9</div>
        <div class="picker__day">10</div>
        <div class="picker__day">11</div>
        <div class="picker__day">12</div>
        <div class="picker__day">13</div>
        <div class="picker__day">14</div>
      </div>
      <div class="picker__week">
        <div class="picker__weeknumber">25</div>
        <div class="picker__day">15</div>
        <div class="picker__day">16</div>
        <div class="picker__day">17</div>
        <div class="picker__day">18</div>
        <div class="picker__day">19</div>
        <div class="picker__day">20</div>
        <div class="picker__day">21</div>
      </div>
      <div class="picker__week">
        <div class="picker__weeknumber">26</div>
        <div class="picker__day">22</div>
        <div class="picker__day">23</div>
        <div class="picker__day">24</div>
        <div class="picker__day">25</div>
        <div class="picker__day">26</div>
        <div class="picker__day">27</div>
        <div class="picker__day">28</div>
      </div>
      <div class="picker__week">
        <div class="picker__weeknumber">27</div>
        <div class="picker__day">29</div>
        <div class="picker__day">30</div>
        <div class="picker__day picker__day--next-month">1</div>
        <div class="picker__day picker__day--next-month">2</div>
        <div class="picker__day picker__day--next-month">3</div>
        <div class="picker__day picker__day--next-month">4</div>
        <div class="picker__day picker__day--next-month">5</div>
      </div>
    </div>
  </div>
</div></div></body></html>