<!DOCTYPE html><html><!--[if lt IE 10]><html class="lt-ie10"><![endif]--><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width"><meta name="description" content="AXA Switzerland Web Style Guide"><meta name="keywords" content="axa,switzerland,versicherungen,web,style,guide"><meta name="author" content="AXA Versicherungen AG"><title>Basic-Dropdown | Demo | Web Style Guide</title><link rel="stylesheet" href="//fast.fonts.net/cssapi/1da4c08a-73a4-4e34-8997-1c1eeb1a8cca.css"><link rel="stylesheet" href="../../../css/normalize.min.css"><link rel="stylesheet" href="../../../css/style.min.css"><script src="../../../js/docs-examples.all.min.js"></script><script>moment.locale('en_GB')
</script></head><body><div class="example">
<div data-dropdown="data-dropdown" class="dropdown">
  <div class="dropdown__label">
    <svg class="dropdown__label__icon">
      <use xlink:href="../../../images/icons.svg#arrow-bottom"></use>
    </svg>
    <div class="dropdown__label__text"></div>
  </div>
  <select class="dropdown__select">
    <option>Schweiz</option>
    <option>Regenbogenland</option>
  </select>
</div></div></body></html>